<section class="ideas">
  <div class="container ideas__container">
    <div class="ideas__slider-wrapper">
      <div class="swiper ideas__slider">
        <div class="swiper-wrapper ideas__slider-items">
          <div class="swiper-slide ideas__slider-item">
            <img
              loading="lazy"
              src="./assets/image/about-imgs/ideas-1.jpg"
              width="502"
              height="629"
              alt="A man is typing on a laptop"
            />
          </div>
          <div class="swiper-slide ideas__slider-item ideas__slider-item-middle">
            <img
              loading="lazy"
              class="ideas__slider-item-img"
              src="./assets/image/about-imgs/ideas-2.jpg"
              width="502"
              height="370"
              alt="Five stars"
            />
            <h3 class="ideas__slider-item-title heading-h5">
              What we believe in
            </h3>
            <p class="ideas__slider-item-text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <div class="ideas__btn">
              <button class="ideas__slider-item-btn button-form">
                See Details
              </button>
              <span class="ideas__btn-dash"></span>
              <span class="ideas__btn-up"></span>
              <span class="ideas__btn-down"></span>
            </div>
          </div>
          <div class="swiper-slide ideas__slider-item">
            <img
              loading="lazy"
              src="./assets/image/about-imgs/ideas-3.jpg"
              width="253"
              height="460"
              alt="Five stars"
            />
          </div>
          <div class="swiper-slide ideas__slider-item">
            <img
              loading="lazy"
              src="./assets/image/about-imgs/ideas-1.jpg"
              width="502"
              height="629"
              alt="A man is typing on a laptop"
            />
          </div>
          <div class="swiper-slide ideas__slider-item ideas__slider-item-middle">
            <img
              loading="lazy"
              class="ideas__slider-item-img"
              src="./assets/image/about-imgs/ideas-2.jpg"
              width="502"
              height="370"
              alt="Five stars"
            />
            <h3 class="ideas__slider-item-title heading-h5">
              What we believe in
            </h3>
            <p class="ideas__slider-item-text text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <div class="ideas__btn">
              <button class="ideas__slider-item-btn button-form">
                See Details
              </button>
              <span class="ideas__btn-dash"></span>
              <span class="ideas__btn-up"></span>
              <span class="ideas__btn-down"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="ideas__tog-btns">
        <button class="ideas__tog-btn ideas__tog-btn--prev">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="ideas__tog-btn ideas__tog-btn--next">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="container ideas__sales">
    <h3 class="ideas__sales-title heading-h2">Powerful ideas & sales acceleration</h3>
    <p class="ideas__sales-descr text-p-large">
      We are a software development firm specializing in digital products. We
      build beautiful, functional and cross-platform solutions that are
      accessible to all.
    </p>
  </div>
</section>
