<section class="bottom">
  <div class="container">
    <div class="bottom__head">
      <div class="bottom__head-descr">
        <h2 class="bottom__head-title heading-h2">Articles</h2>
        <p class="bottom__head-text text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="bottom__btns">
        <button class="bottom__btn bottom__btn--prev">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="bottom__btn bottom__btn--next">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="bottom__wrapper">
      <div class="swiper bottom__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide bottom__article bottom__article-1">
            <img
              loading="lazy"
              class="bottom__article-img"
              src="./assets/image/article/bottom/img-1.jpg"
              width="405"
              height="577"
              alt="Women typing on laptop and wrriting on a notebook"
            />
            <div class="bottom__article-descr">
              <h3 class="bottom__article-descr-title heading-h5">
                List of UX Designer Portfolio / Case Studies where you can make
                money
              </h3>
              <div class="bottom__article-descr-text text-p-medium">
                Here are some portfolios / Case Studies from UX Designers that
                you can use as a reference for creating a portfolio. Two
                interesting things from their portfolio are:
              </div>
            </div>
            <a href="#" class="bottom__article-btn button-form">Read More</a>
          </div>
          <div class="swiper-slide bottom__article bottom__article-2">
            <img
              loading="lazy"
              class="bottom__article-img"
              src="./assets/image/article/bottom/img-2.jpg"
              width="406"
              height="329"
              alt="Women typing on laptop and wrriting on a notebook"
            />
            <div class="bottom__article-descr">
              <h3 class="bottom__article-descr-title heading-h5">
                Skyrocketing in The Designing Career, Why Not?
              </h3>
              <div class="bottom__article-descr-text text-p-medium">
                Ever thought of jumping into the world of design as a career? If
                not, you may want to look at what the word ‘design’ actually
                means. Design is a method of designing aesthetic actions that
                are carried out.
              </div>
            </div>
            <a href="#" class="bottom__article-btn button-form">Read More</a>
          </div>
          <div class="swiper-slide bottom__article bottom__article-3">
            <img
              loading="lazy"
              class="bottom__article-img"
              src="./assets/image/article/bottom/img-3.jpg"
              width="476"
              height="695"
              alt="Women typing on laptop and wrriting on a notebook"
            />
            <div class="bottom__article-descr">
              <h3 class="bottom__article-descr-title heading-h5">
                Elements that may be missed when designing the UI
              </h3>
              <div class="bottom__article-descr-text text-p-medium">
                This is an article that talks about the little elements that are
                often overlooked when designing UI.
              </div>
            </div>
            <a href="#" class="bottom__article-btn button-form">Read More</a>
          </div>
          <div class="swiper-slide bottom__article bottom__article-1">
            <img
              loading="lazy"
              class="bottom__article-img"
              src="./assets/image/article/bottom/img-1.jpg"
              width="405"
              height="577"
              alt="Women typing on laptop and wrriting on a notebook"
            />
            <div class="bottom__article-descr">
              <h3 class="bottom__article-descr-title heading-h5">
                List of UX Designer Portfolio / Case Studies where you can make
                money
              </h3>
              <div class="bottom__article-descr-text text-p-medium">
                Here are some portfolios / Case Studies from UX Designers that
                you can use as a reference for creating a portfolio. Two
                interesting things from their portfolio are:
              </div>
            </div>
            <a href="#" class="bottom__article-btn button-form">Read More</a>
          </div>
          <div class="swiper-slide bottom__article bottom__article-2">
            <img
              loading="lazy"
              class="bottom__article-img"
              src="./assets/image/article/bottom/img-2.jpg"
              width="406"
              height="329"
              alt="Women typing on laptop and wrriting on a notebook"
            />
            <div class="bottom__article-descr">
              <h3 class="bottom__article-descr-title heading-h5">
                Skyrocketing in The Designing Career, Why Not?
              </h3>
              <div class="bottom__article-descr-text text-p-medium">
                Ever thought of jumping into the world of design as a career? If
                not, you may want to look at what the word ‘design’ actually
                means. Design is a method of designing aesthetic actions that
                are carried out.
              </div>
            </div>
            <a href="#" class="bottom__article-btn button-form">Read More</a>
          </div>                  
        </div>
      </div>
    </div>
  </div>
</section>
