<section class="middle">
  <div class="container">
    <div class="middle__wrapper">
      <div class="middle__card-left">
        <div class="middle__card">
          <img
            loading="lazy"
            class="middle__card-img"
            src="./assets/image/article/middle/img-1.jpg"
            alt="a chair, a table and a laptop on the table"
            width="584"
            height="751"
          />
          <h3 class="middle__card-title">
            How we perform long-running tasks using AWS services
          </h3>
          <p class="middle__card-descr text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
        <div class="middle__card">
          <img
            loading="lazy"
            class="middle__card-img"
            src="./assets/image/article/middle/img-3.jpg"
            alt="a chair, a table and a laptop on the table"
            width="584"
            height="751"
          />
          <h3 class="middle__card-title">
            Layout Exploration — Simple exercise but big effect
          </h3>
          <p class="middle__card-descr text-p-medium">
            Make alternatives or other options for the design we are making.For
            example, we are creating a website design. Then there is the
            testimonial section.
          </p>
        </div>
      </div>
      <div class="middle__card-right">
        <div class="middle__card">
          <img
            loading="lazy"
            class="middle__card-img"
            src="./assets/image/article/middle/img-2.jpg"
            alt="a chair, a table and a laptop on the table"
            width="584"
            height="751"
          />
          <h3 class="middle__card-title middle__card-title-2">
            How to ask when doing User Research
          </h3>
          <p class="middle__card-descr text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
        <div class="middle__card">
          <img
            loading="lazy"
            class="middle__card-img"
            src="./assets/image/article/middle/img-4.jpg"
            alt="a chair, a table and a laptop on the table"
            width="584"
            height="751"
          />
          <h3 class="middle__card-title">Webflow Break the Coding Barrier</h3>
          <p class="middle__card-descr text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
