.hero {
  margin-top: 114px;
  padding: 90px 0 38px;

  @include mobile {
    padding: 30px 12px;
  }

  &__title {
    margin-bottom: 103px;
    max-width: 741px;
    color: var(--neutral-color-100);
    font-weight: 700;
    line-height: 120%;

    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__map {
    @include flex-all-between;
    gap: 86px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
        gap: 30px;
      }
  }

  &__contacts {
    max-width: 176px;

    @include tablet {
      max-width: 100%;
      width: 100%;
      @include flex-all-between;
      gap: 40px;
    }

    @include small-tablet {
      flex-direction: column;
      text-align: center;
    }

    @include mobile {
      gap: 20px;
    }

    &-item {
      border-bottom: 1px solid var(--neutral-color-50);
      padding-bottom: 14px;

      &:not(:last-child) {
        margin-bottom: 40px;

        @include tablet {
          margin-bottom: 0;
        }
      }

      &-title {
        margin-bottom: 8px;
        color: var(--neutral-color-100);
        font-weight: 700;
        line-height: 32px;
      }

      &-descr {
        margin-bottom: 20px;
        color: var(--neutral-color-150);
        font-weight: 400;
        line-height: 24px;
      }

      &-link {
        color: var(--neutral-color-100);
        font-weight: 600;
        line-height: 26px;
      }
    }
  }
}
